<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title></title>
</head>

<body>
	<div v-el:swipe class='swipe bar-slider'>
		<div class='swipe-wrap'>
			<div v-for="item in swipeinfo">
				<a :href=item.href><img :src=item.imgSrc /></a>
			</div>
		</div>
		<!-- 分页 -->
		<div class="pagination">
			<span class="swipe-pagination-switch swipe-active-switch" @click="slideToCur(0)"></span>
			<span class="swipe-pagination-switch" @click="slideToCur($index+1)" v-for="item in slideNum"></span>
		</div>
	</div>
</body>

</html>